<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Discover aarhus admin</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <!-- build:css({.tmp,app}) styles/admin.css -->
        <link rel="stylesheet" type="text/css" href="styles/admin.css">
        <link rel="stylesheet" type="text/css" href="styles/component.css">
        <!-- endbuild -->

        <script src="bower_components/angular/angular.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- App -->
        <div class="container" ng-controller="AddCtrl">
            <h1>Add a place</h1>
            <form id="add-form" ng-submit="addPlace()"><br>
                <input type="text" ng-model="form.title" placeholder="Title" required><br>
                <input type="text" ng-model="form.description" placeholder="Description" required><br>
                <input type="text" ng-model="form.detail" placeholder="Detail"><br>
                <input type="text" ng-model="form.type" placeholder="Type" required><br>
                <input type="number" ng-model="form.latitude" step="any" placeholder="Latitude" required><br>
                <input type="number" ng-model="form.longitude" step="any" placeholder="Longitude" required><br>
                <input type="text" ng-model="form.icon" placeholder="Icon" required><br>
                <button type="submit" id="submit">Submit</button>
            </form>
        </div>

        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <!-- build:js({.tmp,app}) scripts/admin.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="scripts/apps/admin/app.js"></script>
        <script src="scripts/apps/admin/services/places.js"></script>
        <script src="scripts/apps/admin/controllers/add.js"></script>
        <!-- endbuild -->
</body>
</html>
