<modal-dialog show='modalShown' width='750px' height='570px'>

    <h1>Add a place</h1>
    <form id="add-form" ng-submit="addPlace()"><br>
        <input type="text" ng-model="form.title" class="addFormInput" placeholder="Title" required><br>
        <input type="text" ng-model="form.description" class="addFormInput" placeholder="Description" required><br>
        <input type="text" ng-model="form.detail" class="addFormInput" placeholder="Detail"><br>
        <input type="text" ng-model="form.type" class="addFormInput" placeholder="Type" required><br>
        <input type="number" ng-model="form.latitude" class="addFormInput" step="any" placeholder="Latitude" required><br>
        <input type="number" ng-model="form.longitude" class="addFormInput" step="any" placeholder="Longitude" required><br>
        <input type="text" ng-model="form.icon" class="addFormInput" placeholder="Icon" required><br>
        <button type="submit" id="submit">Submit</button>
    </form>

</modal-dialog>
