<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper" track-active>
    <div class="cbp-hsinner">
        <ul class="cbp-hsmenu">
            <li><a href="/" style="color: #fff;" ><span class="icon-compass">Discover<b>Aarhus</b></span></a></li>
            <li>
                <a href="#">Food</a>
                <ul class="cbp-hssubmenu">
                    <li><a href="/caffes"><span id="f1">Caffés</span></a></li>
                    <li><a href="/bars"><span id="f2">Bars</span></a></li>
                    <li><a href="/restaurants"><span id="f3">Restaurants</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#">Study</a>
                <ul class="cbp-hssubmenu">
                    <li><a href="/universities"><span>Universities</span></a></li>
                    <li><a href="/libraries"><span>Libraries</span></a></li>
                    <li><a href="/otherschools"><span>Other schools</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#">Nature</a>
                <ul class="cbp-hssubmenu">
                    <li><a href="/parks"><span>Parks</span></a></li>
                    <li><a href="/walk"><span>Go for walk</span></a></li>
                    <li><a href="/harbor"><span>Harbor</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#">Culture</a>
                <ul class="cbp-hssubmenu">
                    <li><a href="/museums"><span>Museums</span></a></li>
                    <li><a href="/theaters"><span>Theaters</span></a></li>
                    <li><a href="/exhibitions"><span>Exhibitions</span></a></li>
                    <li><a href="/churches"><span>Churches</span></a></li>
                    <li><a href="/monuments"><span>Monuments</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#">Fun</a>
                <ul class="cbp-hssubmenu">
                    <li><a href="#"><span>Caffés</span></a></li>
                    <li><a href="#"><span>Bars</span></a></li>
                    <li><a href="#"><span>Restaurants</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#">Sport</a>
                <ul class="cbp-hssubmenu">
                    <li><a href="#"><span>Caffés</span></a></li>
                    <li><a href="#"><span>Bars</span></a></li>
                    <li><a href="#"><span>Restaurants</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!-- Social media buttons -->
<a id="fb" href="#"></a>
<a id="tw" href="#" ></a>
