<div class="container">

    <google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" events="map.events">
        <markers models="map.places" coords="'self'" icon="'icon'" click="'onClicked'">
            <!-- <windows show="'showWindow'" closeClick="'closeClick'" isIconVisibleOnClick="false" ng-cloak>
                <p ng-non-bindable>{{ description }}</p>
            </windows> -->
            <windows show="'showWindow'" coords="'self'" icon="'icon'" click="'onClicked'">

            </windows>
        </markers>
    </google-map>

</div>
