/* General Style */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; height: 100%; padding: 0; margin: 0;}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
}

h1 { color: #303030; }

.container {
    width: 500px;
    margin: 0px auto;
    background-color: #ccc;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}

input {
    width: 450px;
    padding: 15px;
    font-size: 15px;
}

.button, button {
    background: #5ba4e5;
    padding: 0.9em 1.37em;
    cursor: pointer;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0.2em;
    border: rgba(0,0,0,0.05) 0.1em solid;
    margin-top: 15px;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu { background: white; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
b {font-weight: 700;}
a {color: #9d9d9d; text-decoration: none;}
a:hover {color: #222222;}

.angular-google-map-container { height: 1000px; }
