/* General Style */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; height: 100%; padding: 0; margin: 0;}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #47a3da;
    font-weight: 400;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu { background: white; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
b {font-weight: 700;}
a {color: #9d9d9d; text-decoration: none;}
a:hover {color: #222222;}

.angular-google-map-container { height: 1000px; }

.ng-modal-overlay {
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding: 20px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.addFormInput {
  width: 710px;
  padding: 15px;
  font-size: 15px;
}
