html {
font: normal 81.2%/1.65 "Open Sans", sans-serif;
}

main {
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 0;
    left: 15px;
    padding: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block;
}

.login {
    color: #7d878a;
    background: #242628;
}

.login, main {
    top: 15px;
}

.login input:-webkit-autofill, input:-webkit-autofill, input:-webkit-autofill, input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #e2edf2 inset !important;
}

.login-box,.reset-box {
    max-width: 530px;
    height: 90%;
    margin: 0 auto;
    padding: 0;
    display: table;
}

.login-form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 530px;
    color: #a5acae;
    display: table-cell;
    vertical-align: middle;
}

.login-form div {
    position: relative;
    margin: 0 0 5px 0;
    background: #3c4043;
    float: left;
}

.login-form input {
    display: inline-block;
    clear: both;
    margin: 0;
    padding: 10px 0 10px 10px;
    width: 216px;
    position: relative;
    border: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 200;
    background: transparent;
    box-shadow: none;
}

.login-form .username-wrap {
    position: relative;
    margin-right: 3px;
    border-radius: 2px 0 0 2px;
}

.login-form .username-wrap:hover {
    text-decoration: none;
}

.login-form .username-wrap .username {
    padding-left: 28px;
    border-radius: 2px 0 0 2px;
}

.login-form .password-wrap {
    position: relative;
    border-radius: 0 2px 2px 0;
}

.login-form .password-wrap:hover {
    text-decoration: none;
}

.login-form .password-wrap .password {
    padding-left: 28px;
    border-radius: 0 2px 2px 0;
}

.login-form button {
    width: 85px;
    height: 36px;
    margin: 0 0 0 10px;
    padding: 0.5em 1.37em;
    min-height: 30px;
    min-width: 80px;
    box-shadow: rgba(255,255,255,0.15) 0 1px 0 inset;
}

.button-save, button[type="submit"], input[type="submit"] {
    background: #5ba4e5;
    box-shadow: none;
}

.button, button, input[type="button"], .button-save, button[type="submit"], input[type="submit"], .button-add, .button-delete, button[type="reset"], input[type="reset"], .button-alt, .button-link, .button-back {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 35px;
    width: auto;
    display: inline-block;
    padding: 0.9em 1.37em;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 11px;
    line-height: 13px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: none;
    border-radius: 0.2em;
    border: rgba(0,0,0,0.05) 0.1em solid;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

@media (max-width: 630px) {
    .login-box,.reset-box {
        max-width: 264px;
        text-align: center;
    }

    .login-form {
        max-width: 264px;
    }

    .login-form div {
        margin-bottom: 1em;
    }

    .login-form input {
        width: 264px;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }

    .login-form .username-wrap {
        margin-right: 0;
        border-radius: 2px;
    }

    .login-form .password-wrap {
        border-radius: 2px;
    }

    .login-form button {
        margin: 0;
        width: 100%;
        margin-bottom: 1em;
    }
}
